//////////////////////////
//////DIGITAL RESEP PAGE
.body {
  background-color: #f4f4f4;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  
  height: 300px;
  background-color: #2fdd92;
  width: 392.5px;
  
}

.container {
  min-height: 400px;
  background-color: grey;
  margin-top: -100px;
  // max-width: 500px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

////////////////////////////////
///////PAGE PAYMENT

.body-payment {
  margin: 0;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.container-payment {
  min-height: 200px;
  background-color:#2fdd92;
  
}
